.container2{
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: black;
    margin: auto;
    height: 100px;
}
.footer{
    width: 100%;
    color: white;
   justify-content: space-around;
    position: relative;
    left: 5%;
    display: inline-block;
   
    
}
#facebook{
    margin-top: 3%;
    width: 7%;
    position: relative;
    left: 50%;
    
}
#instagram{
    width: 7%;
    position: relative;
    left: 60%;
}
#twitter{
    width: 9%;
    position: relative;
    left: 70%;
}

ul li{
    list-style: none;
   display: inline-block;
   font-size: 30px;
   display: flex inline-block;
   justify-content: space-around;
   }
   li{
    font-size: 15px;
    margin-right: 25px;
   }
.reseau{
    width: 30%;
}

